
.instagram-pics {
  margin: 4%;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin: 10px;
    flex-basis: 30%;
    
    &:last-child {
/*     margin-right: 0; */
    }
  }
}


@include breakpoint(tablet) {
  .instagram-pics {
  flex-wrap: nowrap;
  li {
    
  }
}
}


.social-media-icons {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  i {
    margin: 0 7px;
  }
}

.water-color-logo {
  img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  @include breakpoint(tablet) {
  img {
    width: 25%;
  }
}
}
