
.instagram-pics {
  margin: 4%;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    
    flex-basis: 30%;
    
    &:last-child {
     margin-right: 0; 
    }
  }
}


@include breakpoint(tablet) {
.instagram-pics {
  flex-wrap: nowrap;
  li {
    margin-right: 20px;
  }
}
}


.social__icons {
  width: 100px;
  margin: 50px auto;
  i {
    margin: 0 5px;
  }
}

.water-color-logo {
  img {
    display: block;
    width: 25%;
    margin: 0 auto;
  }
}

