section {
  margin: 100px 0;
}

.stars__section {
  color: white;
  font-family: "Source Sans Pro";
  background-image: url('images/stars.jpg');
  background-attachment: fixed;
  background-size: cover;
  height:600px;
  
  
  .stars__quote {
    width: 70%;
    font-size: 30px;
  }
  .stars__quote-mark {
    font-size: 200px;
    font-weight: 800;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 0;
  }
}

.quote-block {
      padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include breakpoint(tablet){
  .quote-block {  
  flex-direction: row;
  padding-top: 150px;
  }
  .stars__section .stars__quote-mark {
  line-height: 280px;
  padding-bottom: 0px;
  }
}

$about-layout: (
  columns: 2,
  gutter: 50px,
  media: 50em,
  );
  
  $about-layout-mobile: (
  columns: 1,
  gutter: 0,
  );

  
// about
.about__section {
  @include grid-container();
  padding: 0 20px;
  @include grid-media($about-layout) {
    padding: 0 80px;
  }
}

.about__image {
  @include grid-column(1, $about-layout-mobile);
    background-image: url('images/about.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    
  @include grid-media($about-layout) {
    @include grid-column(1);
  }
}

 
.about__text {
@include grid-column(1, $about-layout-mobile);
@include grid-media($about-layout) {
    @include grid-column(1);
  }
}

.gear__list {
  max-width: 1000px;
  padding: 100px 50px;
  margin: 0 auto;
}

.flatlay__section {
  background-image: url('images/flatlay.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height:600px;
}

.contact__section {
  background-image: url('images/contact.jpg');
  background-attachment: fixed;
  background-size: cover;
  height:600px;
  padding: 50px 0;
}
.contact__container {
  background-color: $white;
  width: 80%;
  height: 450px;
  margin: 0 auto;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 80px 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  h2, p {
    margin-bottom: 60px;
  }
  .contact-email{
    word-wrap: break-word;
    line-height: 20px;
  }
}


@include breakpoint(tablet){
  .contact__container {
    width: 50%
  }
}

.contact__page {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  .contact__title {
    padding: 50px 0 20px;
  }
  .contact__blurb {
    margin: 0 10%;
  }
  @include breakpoint(tablet){
  .contact__blurb {
    margin: 0;
  }
  }
}




