section {
  margin: 50px 0;
}

.home__galleries {
  margin-top: 20px;
  text-align: center;
}

.stars__section {
  color: $white;
  background-attachment: fixed;
  background-size: cover;
  height:600px;
  
  .stars__quote {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    line-height: 65px;
    width: 60%;
    min-width: 250px;
  }
  .stars__quote-mark {
    opacity: 0.6;
    font-size: 200px;
    font-weight: 800;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 0;
  }
}

.quote__block {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include breakpoint(tablet){
  .quote__block {  
    flex-direction: row;
    padding-top: 150px;
  }
  .stars__section {
    .stars__quote-mark {
      line-height: 280px;
      padding-bottom: 0px;
    }
    .stars__quote {
      font-size: 4em;
      width: 900px;
    } 
  }
}


@include breakpoint(mobileonly){
  .quote__block {  
    padding-top: 150px;
  }
}

@include breakpoint(phablet){
  .quote__block {  
    padding-top: 150px;
  }
}

$about-layout: (
columns: 2,
gutter: 50px,
media: 64em,
);

$about-layout-tablet: (
columns: 2,
gutter: 20px,
media: 50em,
);


$about-layout-mobile: (
columns: 1,
gutter: 0,
);


.about__section {
  @include grid-container();
  padding: 0 20px;
  @include grid-media($about-layout) {
    padding: 0 80px;
  }
}

.about__image {
  @include grid-column(1, $about-layout-mobile);
  background-size: cover;
  background-position: 0% 80%;
  height: 300px;

  @include grid-media($about-layout-tablet) {
    @include grid-column(1);
    height: 500px;
    background-position: center;
  }

  @include grid-media($about-layout) {
    @include grid-column(1);
    height: 500px;
    background-position: center;
  }

  @include breakpoint(phablet) {
    background-position: 0% 80%;
    height: 400px;

  }
}

.about__text {
  text-align: center;
  p {
    white-space: pre-wrap;
  }
  @include grid-column(1, $about-layout-mobile);

  @include grid-media($about-layout) {
    @include grid-column(1);
    text-align: left;
  }
  @include grid-media($about-layout-tablet) {
    @include grid-column(1);
    text-align: left;
  }
}

.gear__list {
  max-width: 70%;
  padding: 50px;
  margin: 0 auto;
}

.flatlay__section {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height:600px;
}

.contact__section {
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  padding: 160px 100px 0 100px;

  h3 {
    letter-spacing: 3px;
    font-size: 1.4em;
  }
  p {
    font-size: 1em;
  }
}

.contact__container {
  background-color: $white;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  .contact-email{
    word-wrap: break-word;
  }
}

.contact__page {
  h3 {
    text-align: center;
    padding: 5px;
    margin: 50px auto;
    font-weight: 100;
  }
}

@include breakpoint(mobileonly){
  .contact__section {
    padding: 160px 20px 0 20px;;
  }
  .contact__container {
    margin: 10px auto;
  }
}

@include breakpoint(laptop){
  .contact__container {
    width: 40%;
  }
}

.contact__page {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  .contact__title {
    padding: 50px 0 20px;
  }
  .contact__blurb {
    margin: 0 10%;
    padding-bottom: 20px;
  }
  @include breakpoint(tablet){
    .contact__blurb {
      margin: 0;
      padding-bottom: 40px;
    }
  }
}

.portfolio__text {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.error404 {
  color: $white;
  background-color: #000029;;
  width: 100%;
  height: 100%;  

  .hero {
    display:none;
  }
  h1.page-title {
    text-align: center;
 padding: 20px;
  }
  .social-media-icons a{
    color: $white;
  }
  .widget-area {
    display:none;
  }
  .error-404 {
    margin-top: 100px;
  }
}