/*button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	//@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}*/



input[type="button"],
input[type="reset"],
input[type="submit"],
  button {
    font-size: 16px;
    font-weight: normal;
    min-height: 40px;
    padding: 10px 50px;
    border: none;
    background: $navy;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    
    &:hover {
		background: lighten($navy, 10% );
	}

	&:active,
	&:focus {
		background: lighten($navy, 10% );
	}
    
  }
  
  .gallery__container button {
    margin-top: 50px;
  }