input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  font-size: 14px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
  color: $color__text-input;
  border: 1px solid $color__border-input;
  padding: 12px;
  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

/* ninja forms styling */

.nf-field {
  padding: 0 10px;
}

#ninja_forms_widget-3 {
  list-style: none;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
}

@include breakpoint(phablet) {
  #ninja_forms_widget-3 {
    width: 70%;
  }
}

@include breakpoint(tablet) {
  #ninja_forms_widget-3 {
    width: 60%;
  }
}

@include breakpoint(laptop) {
  #ninja_forms_widget-3 {
    width: 50%;
  }
}

.nf-form-title {
  h3 {
    text-align: center;
  }
}

.nf-form-fields-required {
  text-align: center;
}

label {
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.nf-field-element input[type="button"] {
  margin: 0 auto;
  display: block;
}

.nf-after-field .nf-error-msg {
  margin: 10px;
}